<% include ./partials/_head.ejs %>

<% include ./partials/_header.ejs %>

<div class="container" id="main">
  <div class="row text-center">
    <div class="col-12">
      <a href="/locations/1" class="btn btn-link btn-lg white-text large-text" role="button" aria-pressed="true">Start an Order!</a>
    </div>
  </div>
</div>

<% include ./partials/_footer.ejs %>
<% include ./partials/_tail.ejs %>