<% include ./partials/_head.ejs %>

<% include ./partials/_header.ejs %>
<h1>STAFÜD</h1>

<a href="/locations/1" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Start an Order!</a>

<% include ./partials/_footer.ejs %>
<% include ./partials/_tail.ejs %>