<% include ./partials/_head.ejs %>
<% include ./partials/_header.ejs %>

<div class="container">
    <div class="row">
        <div class="jumbotron list-item-jt">
            <h1><%= name %></h1>
            <p class="lead"><%= address %></p>
            <p class="lead">Phone: <%= phone %></p>
            <p class="lead">Hours: <%= hours %></p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/locations/1/menu_items" role="button">Place an order!</a>
            </p>
        </div>
    </div>
</div>

<% include ./partials/_footer.ejs %>
<% include ./partials/_tail.ejs %>