nav.navbar-default {
    background-color: $mainSiteColor;
    padding: 0.5em;
}

a.navbar-brand {
    color: white !important;
    font-size: 2em;
}

.white-text {
    color: white !important;
}

nav {
    border-radius: 0 !important;
    margin-bottom: 0 !important;
    border: none !important;
}