div.padding-top {
    padding-top: 2rem;
}

img.food-image {
    width: 20rem;
    min-height: 15rem;
}

.grey-border {
    border: 1px solid lightgrey;
    border-radius: 5px;
}

button.add-item {
    margin-top: 2rem;
}

div.order-items {
    position: fixed;
    left: 53%;
}

div.bottom-margin-ten {
    margin-bottom: 10px;
}