.timepicker {
    margin-top: 1em;
    width: 10em;
    text-align: center;
}

.accept {
    margin-top: 1em;
}

.ready {
    margin-top: 1em;
}

.update {
    margin-top: 1em;
}

.accept-time {
    margin: 1em 0;
}