.restaurant-image {
    width: 30rem;
    min-height: 20rem;
}

button.choose-restaurant {
    margin-top: 2rem;
}

.restaurant-list-item {
    padding-left: 24px !important;
    padding-right: 34px !important;
    padding-top: 24px;
    padding-bottom: 24px;
}
