@import 'variables';

body {
    font-family: 'PT Serif', serif;
}

.heading {
    font-family: 'Exo', sans-serif;
}

#main {
    background-image: url("https://s3-us-west-2.amazonaws.com/andydlindsay-midterm/chopping-board.jpeg");
    min-height: 75vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0;
}

.large-text {
    font-size: 6em;
    margin-top: 15rem;
    background-color: $mainSiteColor;
    opacity: 0.420;
}

.large-text:hover {
    background-color: $mainSiteColor;
    opacity: 0.7;
    text-decoration: none !important;
    color: none !important;
}

@import 'locations';
@import 'header';
@import 'menu_items';
@import 'location_list';
@import 'order_list';
@import 'restaurants';
